@model Cart

@{
    ViewData["Title"] = "Order Delivery Page";
}

<div class="container mt-4">
    <h3>Review Your Products and Enter Delivery Information</h3>
        <!-- Products List -->
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Cost Euro</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <th>@item.Product.Name</th>
                            <th>@item.Product.Cost Euro</th>
                            <th>@item.Amount</th>
                            <th>@item.Cost</th>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-lg-end">
                <h3>Summury</h3>
                <h3>@Model.Cost</h3>
            </div>
        </div>
    </div>
    
<!-- Contact Form for Delivery -->
    @Html.Partial("DeliveryInformation", ViewData["UserDeliveryInfo"])
</div>

